.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    font-weight: 100;
    color: rgb(114, 114, 114);
    font-size: 10px;
}

.Tittle {
    text-decoration: none;
    font-size: 16,5px;
    border-bottom: 1px solid #747474;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.paragraf{
    font-size: 15px;
    color: rgb(189, 189, 189);
    margin-top: 0;
    margin-bottom: 15px;
}
.tarih{
    font-size: 12px;
    color: rgb(120, 123, 126);
    margin-top: 10px;
    margin-bottom: 10px;
}

.proje-tanitim {
    margin-bottom: 40px;
}

.proje-tanitim:last-child {
    margin-bottom: 0;
}

.project-container > div {
    margin-bottom: 0;
}

.project-container > div:not(:last-child) .proje-tanitim:last-of-type {
    margin-bottom: 20px !important;
}