.Home {
    width: 90%;
    min-width: 280px;
    max-width: 600px;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    transition: 0.4s ease-in-out;
    color: var(--text-color);
    background-color: var(--background-color);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    overflow: hidden; 
    position: relative;
}

.Home h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.Home p {
    font-size: 16px;
    line-height: 1.6;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    animation: marquee 23s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
    .Home {
        width: 90%;
        padding: 16px;
    }

    .Home h1 {
        font-size: 24px;
    }

    .Home p {
        font-size: 15px;
    }
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 1.5em; /* Yazı boyutuna göre ayarla */
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.Home:hover{
 transform: translateX(20px);
}