

:root {
  --text-color: #ffff;
  --background-color: #8dd1ff;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo {
  width: 30%;
  margin: 20px auto;
  transition: 1s;
  justify-content: center;
  display: flex;
  padding: 20px;
  height: 5vh;
  background-color: white;
  align-items: center; 
}



@media screen and (max-width: 720px) {
  .logo {
    display: flex;
    justify-content: center; 
    grid-template-columns: 1fr; /* Tek sütun düzeni */
    gap: 10px; /* Logo ve başlık arasındaki boşluk */
    align-items: center;
    padding: 15px; /* Daha fazla padding */
    width: 80%; /* Ekrana daha uyumlu */
    height: auto; /* Yükseklik otomatik olacak */
  }

  /* Logo boyutunu mobilde biraz büyüt */
  .logo img {
    width: 60px;
    height: 60px;
  }

 
}

.logo img:hover{
    box-shadow: 0 0 10px var(--background-color) , 0 0 20px var(--background-color) ;
}