.navbar-menu {
  display: flex;
  align-items: center;
  padding: 1rem 10px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.navbar-menu a {
  font-weight: bold;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar-menu a:hover {
  color: white;
}

@media (max-width: 768px) {
  .navbar-menu ul {
    justify-content: space-between;
  }

  .navbar-menu a {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .navbar-menu ul {
    justify-content: space-between;
  }

  .navbar-menu a {
    font-size: 14px;
  }
}